*.fasl
*~
/check-itemization
/fuck
/fuckyou
/miz_item_deps_bf.pl.orig
/miz_item_deps_bf.pl.rej
/reduce.pl.orig
/reduce.pl.rej
/#article-mptp.pl#
/#cluster-fragment-to-item.pl#
/.#article-mptp.pl
/.#cluster-fragment-to-item.pl
/mptp-challenge
/tarski-line.pl
/mizar
/mizar
/tarski-line.pl
/depgraph
/check-itemization
itemization/*
hidden/*