/article.fasl
/itemize.fasl
/mizar.fasl
/sandbox.fasl
/file-utils.fasl
/utils.fasl
/xml-utils.fasl
/verify-itemization.sh~
/verify-quietly.sh~
/check-itemiziation.sh~
/check-itemization
/fuck
/fuckyou
/miz_item_deps_bf.pl.orig
/miz_item_deps_bf.pl.rej
/reduce.pl.orig
/reduce.pl.rej
/timed-quiet-verify.sh~
/#article-mptp.pl#
/#cluster-fragment-to-item.pl#
/.#article-mptp.pl
/.#cluster-fragment-to-item.pl
/article-mptp.pl~
/cluster-fragment-to-item.pl~
/fix-constructors.pl~
/items-needed-for-item.sh~
/items-to-mptp.pl~
/mptp-challenge~
/mptp-table-for-article.pl~
/xml-to-mptp.pl~
/mptp-challenge
/depgraph.pl~
/tarski-line.pl~
/tarski-line.pl
/reduce-parallel.pl~
/reduce-item.pl~
/mizar
/brutalizers~
/site.lisp~
/site.fasl
/mizar
/reduce-item.pl~
/reduce-parallel.pl~
/tarski-line.pl
/tarski-line.pl~
