[submodule "hunchentoot-dir-lister"]
	path = hunchentoot-dir-lister
	url = git://znain.com/git/dl/hunchentoot-dir-lister.git
[submodule "xsl4mizar"]
	path = xsl4mizar
	url = git@github.com:jessealama/xsl4mizar.git
