<VirtualHost *:80>
  # Adapted from
  # http://wbruschi.blogspot.com/2009/02/install-hunchentoot-on-ubuntu.html

  # Admin email, Server Name (domain name) and any aliases
  ServerAdmin alama
  ServerName  mizar.cs.ualberta.ca

  # Index file and Document Root (where the public files are located)
  # DirectoryIndex index.html
  # DocumentRoot /home/USERNAME/public_html/YOUR-DOMAIN.com/public

  # Custom log file locations
  LogLevel warn
  ErrorLog  /var/log/apache2/mizar-items/error.log
  CustomLog /var/log/apache2/mizar-items/access.log combined
     
  ProxyRequests Off    
  <Proxy *>
    allow from all
  </Proxy>
  ProxyPass / !
  ProxyPass /mizar-items http://127.0.0.1:4242/
  ProxyPassReverse /mizar-items http://127.0.0.1:4242/

</VirtualHost>
